.card1{
	display: flex;
	flex-direction: column;
}

.card1 .speech_bubble{
	background-color: black;
	border-radius: 10px;
	color: white;
	max-width: 50%;
}

.card1 .speech_bubble p{
	padding: 5%;
	padding-bottom: 0;
}

.card1 .title{
	display: flex;
}

.card1 .title img{
	border-radius: 50%;
	
}