*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* --------CARD 1 WITH SPEECH BUBBLEb -----*/

.card1{
	display: flex;
	flex-direction: column;
	max-width: 50%;
}

.card1 .speech_bubble{
	background-color: black;
	min-width: 300px;
	border-radius: 30px;
	color: white;
	max-width: 50%;
	max-height: 190px;
	margin-bottom: 2vh;
}

.card1 .speech_bubble p{
	padding: 5% 5% 0 5%;
	padding-bottom: 0;
	margin: 0;
}

.card1 .speech_bubble:after{
	content: '';
	border: 20px solid black;
	position: absolute;
	left: 50px;
	right: 0;
	width: 0;
	height: 0;
	border-width: 20px 20px 0 20px ;
	border-color: black transparent transparent  transparent;
}

.card1 .title{
	display: flex;
	align-items: center;
	margin-left: 2vw;
	min-width: 525px;
}

.card1 .title img{
	border-radius: 50%;
	width: 12vw;
	margin-right: 2vw;
	max-width: 80px;
}

.user h1{
	margin-bottom: 0;
	font-weight: 400;
}

.user h2{
	margin-top: 0;
	font-size: medium;
	font-weight: lighter;
}

/* ---- CARD 2 --------- */

.card2{
	border: 2px, solid, black;
	border-radius: 20px;
	padding: 2%;
	max-width: 70%;
}

.card2 .title{
	display: flex;
	align-items: center;
	min-width: 525px;
}

.card2 img{
	border-radius: 50%;
	width: 12vw;
	margin-right: 2vw;
	max-width: 80px;
} 

/*----- CARD3 ------*/

@media screen and (max-width : 420px) {

	.card3 .pdp{
		width: 0;
	}

}
.card3{
	max-width: 100%;
	display: flex;
	margin-top: 10px;
	
}
 .card3 .content {
	border: 2px solid black;
	padding: 2%;
	margin-left: 10px;
	border-radius: 20px;
	background-color: black;
	color: white;
}

.card3 h1{
	margin-top: 0;
}
.card3 h2{
	color: grey;
}

.card3 .pdp{
	max-width: 30%;
	border-radius: 20px;
}

.card3 .stars{
	width: 100px;
}




